@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: 600;
}

.nav{
    padding: 20px 0;
}

.sketch-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.button-section{
    display: flex;
    flex-direction: column;
    margin: 0 160px;
    padding: 40px;
}

.button-section > button{
    margin: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.sketchpad-section{
    margin: 0 20px;
}

.sketchpad{
    width: 576px;
    height: 576px;
    border: 2px solid black;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
    box-shadow: 10px 10px 10px gray;
}

.grid-border{
    border: 1px solid #E3E3E3;
}

.button-section > button:hover{
    box-shadow: 7px 7px 0px black;
    top: -5px;
    left: -5px;
}