@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #F2D0A7;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 75px;
    font-weight: 600;
    color: #171559;
    text-shadow: 7px 7px 0px #F26363;
}

.nav{
    padding: 20px 0;
}

.sketch-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.button-section{
    display: flex;
    flex-direction: column;
    margin: 0 120px;
    padding: 40px;
}

.button-section > button{
    margin: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F26363;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.active{
    background-color: #F26363;
    color:white;
}

.sketchpad-section{
    width: 529px;
    height: 529px;
    border: 2px solid black;
    display: inline-grid;
    background-color: white;
    box-shadow: 10px 10px 10px #6d5da693;
}

.options-section{
    margin: 0 140px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-picker{
    -webkit-appearance: none;
    appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    margin: 0 30px;
}

.color-section{
    padding-bottom:40px;
}

.color-section > p {
    color: #171559;
}

.slider-ui{
    display:flex;
    padding: 0 10px ;
}

.slider-value{
    width:30px;
    color:#171559 ;
}

.grid-toggle{
    margin: 30px;
    padding: 10px 60px;
    border-radius: 10px;
    border: 2px solid #F26363;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;  
    background-color: #F26363;
    color: white;
}

.toggled{
    background-color: white;
    color: black;
}


.grid-border{
    border: 1px solid #E3E3E3; 
}


.button-section > button:hover{
    box-shadow: 7px 7px 0px #171559;
    top: -5px;
    left: -5px;
}

.clear:active{
    background-color: #F26363;
    color: white;
}